name: Run build

on: [ push ]

jobs:
  build:
    runs-on: ubuntu-latest
    timeout-minutes: 10
    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-java@v5
        with:
          distribution: 'temurin'
          java-version: '17'
          cache: 'gradle'
      - uses: gradle/gradle-build-action@v3
      - run: ./gradlew build

      - name: Archive results
        if: always()
        uses: actions/upload-artifact@v6
        with:
          name: test-report
          path: build/reports
          retention-days: 5
